a > h2:hover {
    cursor: pointer;
}

.projects {
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-between;
}

.projects > div {
    margin-bottom: 5%;
    /* border: 1px solid blue; */
    height: 20vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}